<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.avoid.playtolearn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activities.SettingsActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".activities.ProfileActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".activities.BoardActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".activities.RandomActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".activities.MainMenuActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LeaderboardActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".activities.HelpActivity"
            android:screenOrientation="sensorPortrait" />
    </application>

</manifest>